/* Copied from Pairfonts.com - Nunito for header and Roboto Mono for all other text */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto+Mono:wght@300&display=swap");


#logo {
    font-size: 25px;
    font-family: nunito, sans-serif; 
    color: black;
    text-align: center;
}

#wrapper, h2 {
    font-family: 'Roboto Mono', sans-serif; 
    color: black; 
    font-size: 20px;
} 

/* Hide scrollbar */

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


/* Insiration for wrapper around game and wrapper around description taken
from https://stackoverflow.com/questions/5275410/what-is-the-correct-way-to-do-a-css-wrapper
*/

/* Wrapper for all text and game */

#wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 600px; 

    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #11D6A1;
    border-radius: 5%; 
    margin-top: 30px; 
    text-align: center;
} 

/* Wrapper around description text */

#descr {
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;

    max-width: 400px;

    background-color: #0fbd8e;
    border-radius: 3%; 
    border: 1px solid black;
    text-align: center;
} 

/* Paragraph holding description text */

p {
    font-size: 16px;
}


/* Background image */
body {
    background: url(../images/hero-image.jpg) no-repeat top center black;
    height: 100%;
} 

/* I used filedset and legend for screen readers but I dont want it in my game interface, 
so therfore it is displayed with: none and border: 0 */

legend {
    display: none;
} 

fieldset {
    border: 0;
}


/* Start button */

.start-btn { 
    font-family: 'Roboto Mono', sans-serif; 
    background-color: #0fbd8e;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: solid;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
} 

.start-btn:hover {
    background-color: #0ca17a;
}


/* Padding for game instructions */

.instruction {
    padding-bottom: 20px;
}


/* Footer - Social media links */ 

footer {
    text-align: center; 
}

.social-media-links {
    padding-left: 0;
}

.social-media-links > li {
    display: inline; 
}

.social-media-links i {
    font-size: 30px;
    padding-left: 0;
    margin: 20px;
    color: #0fbd8e;
} 

.social-media-links i:hover {
    color: black;
}

/* Inspiration for styling of radio buttons taken from https://codepen.io/skeddles/pen/PbROLK */
/* Styling for radio buttons Easy/Medium/Hard */

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: black;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 15px;
} 

label:hover {
    background-color: #0ca17a;
}

input[type=radio]:checked + label {
    color: black;
    background: #0ca17a;
}

label + input[type=radio] + label {
    border-left: solid 3px black;
}

.radio-btns {
    border: solid 3px black;
    display: inline-table;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}



/* CSS for the game! */
/* unseen and not-activated is taken as inspiration from the guide at: https://freshman.tech/simon-game/, 
https://jsfiddle.net/ayoisaiah/Lxwhder6/20/ */

.unseen {
    display: none !important;
}

.not-activated {
    pointer-events: none;
}


/* Easy interface */ 
.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-flex;
    cursor: pointer;
} 

.circle:hover {
    box-shadow: inset 0px 0px 0px 3px cyan;
    box-sizing: border-box;
} 

/* Middle circle size */

.easy-orange {
    width: 100px;
    height: 100px;
}

/* Easy interface 4 different colors */
.easy-green {
    background-color: green;
    transition: 0.16s;
}

.easy-green:active, .easy-green.activate {
    background-color: black;
    transform: translate(8px);
}

.easy-blue {
    background-color: blue;
    transition: 0.16s;
}

.easy-blue:active, .easy-blue.activate {
    background-color: black;
    transform: translate(8px);
}

.easy-yellow {
    background-color: yellow;
    transition: 0.16s;
}

.easy-yellow:active, .easy-yellow.activate {
    background-color: black;
    transform: translate(8px);
}

.easy-red {
    background-color: red;
    transition: 0.16s;
}

.easy-red:active, .easy-red.activate {
    background-color: black;
    transform: translate(8px);
} 

/* Middle circle in easy difficulty */ 

.easy-orange {
    background-color: orange;
    transition: 0.16s;
} 

.easy-orange:active, .easy-orange.activate {
    background-color: black;
    transform: translate(8px);
}



/* Media queries */

/* Mobile screen size 350px down */
@media screen and (max-width: 350px) {
label {
    padding: 1px 5px;
} 

.circle {
    width: 70px;
    height: 70px;
    } 


#logo {
    font-size: 15px;
} 


p {
    font-size: 13px;
} 


h3 {
    font-size: 15px;
}

}



