/* Copied from Pairfonts.com - Nunito for header and Roboto Mono for all other text */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto+Mono:wght@300&display=swap");


#logo {
    font-size: 25px;
    font-family: nunito, sans-serif; 
    color: #4c917f;
}

#wrapper, h3 {
    font-family: 'Roboto Mono', sans-serif; 
    color: white; 
    font-size: 20px;
} 


#logo, #wrapper, footer {
    text-align: center;
}


/* Wrapper for all text and game */

#wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 600px; 

    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #11D6A1;
    border-radius: 5%; 
    margin-top: 70px;
} 

/* Wrapper around description text, inspiration taken from https://stackoverflow.com/questions/5275410/what-is-the-correct-way-to-do-a-css-wrapper */

#descr {
    margin-right: auto;
    margin-left: auto;

    margin-top: 20px;

    max-width: 400px;

    background-color: #0fbd8e;
    border-radius: 3%; 
    border: 1px solid black;
} 

/* Paragraph holding description text */

p {
    font-size: 18px;
}


/* Background image */
body {
    background: url(../images/hero-image.jpg) no-repeat center center;
    height: 100%;
    background-color: black;
} 


/* Button for easy */

.btn-easy {
    background-color: #0fbd8e;
    border: 1px solid black;
    color: white;
    text-align: center;
    text-decoration: solid;
    font-size: 15px;

} 


/* Footer - Social media links */ 

footer {
    height: 20px;
    bottom: 0;
}

.social-media-links > li {
    display: inline;
    box-sizing: border-box;
}

.social-media-links i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: black;
    
}


/* CSS for the game! */

/* Taken from the guide at: https://freshman.tech/simon-game/ */
.unseen {
    display: none !important;
}

.not-activated {
    pointer-events: none;
}


/* Easy interface */ 
.easy {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: inline-flex;
    cursor: pointer;
} 

.easy:hover {
    box-shadow: inset 0px 0px 0px 3px cyan;
    box-sizing: border-box;
}

/* Easy interface 4 different colors */
.easy-green {
    background-color: green;
    transition: 0.16s;
}

.easy-green:active, .easy-green.activate {
    background-color: black;
    transform: translate(8px);
}

.easy-blue {
    background-color: blue;
    transition: 0.16s;
}

.easy-blue:active, .easy-blue.activate {
    background-color: black;
    transform: translate(8px);
}

.easy-yellow {
    background-color: yellow;
    transition: 0.16s;
}

.easy-yellow:active, .easy-yellow.activate {
    background-color: black;
    transform: translate(8px);
}

.easy-red {
    background-color: red;
    transition: 0.16s;
}

.easy-red:active, .easy-red.activate {
    background-color: black;
    transform: translate(8px);
} 


/* Media queries */

/* Mobile screen size 340px down */
@media screen and (max-width: 330px) {
    .easy {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: inline-flex;
        cursor: pointer;
    } 
}
